
// colors

$black:             #231F20;
$white:             #fff;
$grey:              #9CA0A4;
$dark-grey:         #333;
$light-grey:        lighten($grey, 20%);

$red:               #ff3333;
$cyan:              #33ffff;
$yellow:            #ffff66;
$purple:            #2020d1;
$light-cyan:        lighten($cyan, 32%);
$light-yellow:      lighten($yellow, 10%);
$bg-yellow:         lighten(desaturate($light-yellow, 20%), 10%);
$bg-grey:           lighten(desaturate($light-yellow, 60%), 15%);

// r2
$navy:              #0d1b3f;
$dark-navy:         saturate(darken($navy, 5.5%), 50%);

$text:              $black;
$link:              $red;
$link-hover:        darken(desaturate($red, 25%), 12%);
$header-bg:         $navy;


// breakpoints

$xs:                360px;      // galaxy S5, iPhone 6-8
$sm:                550px;
$md:                768px;      // tablet portrait
$lg:                1025px;     // tablet wide
$xl:                1250px;     // desktop
$max-width:         $lg;        // the point at which $base-lg is 24px


// fonts

$body-font:         Roboto, 'Helvetica Neue', Helvetica, sans-serif;
$header-font:       PantonNarrow-Heavy, 'Helvetica Neue', Helvetica, sans-serif;


// font size

$base:              17px;
$base-sm:           15px;
$base-xl:           24px;

$font-lg:           2rem;
$font-md:           1.15rem;
$font-sm:           0.875rem;    // 14px

$font-xl-mobile:    2.1875rem;   // 35px
$font-lg-mobile:    1.875rem;    // 30px

$leading-base:      1.5;
$leading-loose:     1.75;
$leading-tight:     1.3;
$leading-xtight:    1.1;


// sizes

$page-margin:       3.15rem;
$page-margin-sm:    1.25rem;
$gutter:            2rem;

$pad-sm:                1.5rem;
$pad-md:                3rem;
$pad-lg:                4rem;

$section-pad-mobile:    3.5rem;
$section-pad:           5rem;

$p-center-max:          44rem;


// transitions

$transition-short:  0.15s;
$transition-long:   0.5s;


$border:            1px solid $light-grey;