
// colors

$black:             #231F20;
$white:             #fff;
$grey:              #9CA0A4;
$light-grey:		lighten($grey, 20%);
$bg-grey:			lighten($grey, 50%);

$text:              $black;
$link:              $white;
$link-hover:        $white;


// breakpoints

$xs:                360px;      // galaxy S5, iPhone 6-8
$sm:                550px;
$md:                768px;      // tablet portrait
$lg:                1025px;     // tablet wide
$xl:                1250px;     // desktop
$max-width:         $lg;     	// the point at which $base-lg is 24px

$pad-sm:            2.05rem;
$pad-lg:            3.6rem;


// font size

$base:              17px;
$base-sm:           16px;
$base-lg:           #{$base/$xl * 100}vw;
$base-xl:           24px;

$font-lg:           2.53rem;     // 43px
$font-sm:           0.875rem;    // 14px
$font-xs:           0.765rem;    // 13px

$font-xl-mobile:    2.1875rem;   // 35px
$font-lg-mobile:    1.875rem;    // 30px
$font-sm-mobile:    0.75rem;     // 12px

$leading-base:      1.5;
$leading-loose:     1.75;
$leading-tight:     1.25;


// sizes

$page-margin:       3.15rem;
$page-margin-sm:    1.25rem;
$gutter:            1.425rem;


// transitions

$transition-short:  0.15s;
$transition-long:   0.5s;


$border:            1px solid $text;