
// not real, "honeypot"
.very-real-field {
    position: absolute;
    left: -9999px;
}

.contact {
    &__pre, form {
        max-width: $p-center-max;
    }

    &__pre {
        margin-bottom: $section-pad-mobile;

        @include mq($md) {
            margin-bottom: $section-pad;
        }
    }

}