@import url("//hello.myfonts.net/count/3ce12d");
  
@font-face {
    font-family: 'PantonNarrow-Heavy';
    src: url('../fonts/PantonNarrow-Heavy/font.woff2') format('woff2'), url('../fonts/PantonNarrow-Heavy/font.woff') format('woff');
    font-weight: 700;
}


/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: $black; color: $white; text-shadow: none;}
::selection {background: $black; color: $white; text-shadow: none;}


ins {background-color: $black; color: $white; text-decoration: none;}
mark {background-color: $black; color: $white; font-style: italic;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color: $grey; }
textarea:-moz-placeholder { color: $grey; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {padding: 1em; background: #eee;}

html {
    font-size: $base-sm;

    @include mq($md) {
        font-size: $base;
    }
}

body {
    margin: 0;
    padding: 0;
    line-height: $leading-base;
    background: $white;
}

html, body {
    height: 100%;
}

body, select, input, textarea, button {
    font-family: $body-font;
    color: $text;
}

main {
    ul li {
        list-style: square;
        margin-left: 1em;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

section {
    padding: $section-pad-mobile 0;

    @include mq($md) {
        padding: $section-pad 0;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $page-margin-sm;

    @include mq($md) {
        padding: 0 $page-margin;
    }
}

a {
    color: $link;
    text-decoration: none;
    transition: $transition-short;

    &:hover {
        color: $link-hover;
    }
}


h1, h2 {
    @include heading-lg;
}

h3 {
    @include heading-sm;
}

h4 {
    @include heading-body;
}

h5 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

h6 {
    @extend %sm-caps;
    font-size: $font-sm;
    margin-bottom: 0.25em;
}

p, ul, ol {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        color: $header-bg;
    }
}

.icon {
    height: 2rem;
    width: 2rem;
}

.button, input[type=submit] {
    @include button;
}

input[type=text], input[type=email], input[type=number], input[type=tel], textarea {
    @include input;
}

.field {
    margin-bottom: 1.5em;

    @include mq($md) {
        display: flex;
    }

    label {
        display: inline-block;
        margin-bottom: 0.25em;

        @include mq($md) {
            flex: 1;
        }
    }

    input[type=text], input[type=email], input[type=number], input[type=tel], textarea {
        @include mq($md) {
            flex: 3;
        }
    }
}


.header {
    padding: $pad-sm 0;
    background: $header-bg;
    @include dark-bg;

    @include mq($md) {
        padding: #{$pad-sm + 0.5rem} 0 #{$pad-sm - 0.5rem};
    }

    > .wrapper {
        @include mq($md) {
            display: flex;
            align-items: baseline;
        }
    }

     &__logo {
        display: block;
        margin: 0 auto;
        width: 8rem;

        @include mq($md) {
            width: 10.25rem;
            margin: 0;
            margin-right: $gutter;
        }
    }

    a.header__logo {
        opacity: 1;

        &:hover, &:focus {
            opacity: 0.7;
        }
    }

    h1 {
        margin: $pad-sm 0 0;
        text-align: center;

        @include mq($md) {
            margin-top: 0;
            text-align: left;
            position: relative;
            top: -0.5rem;
        }
    }
}

.header, .top {

    .menu-open, .menu-close {
        display: block;
        width: 2rem;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        img {
            display: block;
        }
    }

    .menu-open {
        position: absolute;
        top: $pad-sm;
        right: $page-margin-sm;

        @include mq($md) {
            position: static;
            margin-left: auto;
            align-self: flex-start;
        }
    }

    .menu-close {
        position: absolute;
        top: $page-margin-sm;
        right: $page-margin-sm;
        width: 2.75rem;
        padding: 0.5rem;

        @include mq($md) {
            width: 2.33rem;
            top: 1rem;
            right: 3rem;
        }
    }

    .menu {
        // display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 100;
        background: $dark-navy;
        padding: 5rem 3rem 2rem;
        transform: translate(100%, 0);
        transition: 0.75s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mq($md) {
            max-width: 23.25rem;
        }

        &.open {
            transform: translate(0, 0);

            li {
                transition: 0.5s ease-in;
            }

            li:nth-child(n) {
                transform: translate(0, 0);
            }
        }

        a {
            color: $white;
            opacity: 1;

            &:hover, &:focus {
                color: $light-cyan;
            }

            &[aria-current=page] {
                color: $light-cyan;
            }
        }

        ul {
            font-size: $font-lg-mobile;

            @include mq($md) {
                font-size: $font-lg;
                line-height: $leading-tight;
            }
        }

        li {
            margin-left: 0;
            margin-bottom: 0.5rem;
            list-style: none;
        }
    }
}

.footer {
    flex-shrink: 0;
    background: $header-bg;
    @include dark-bg;
    padding: $pad-sm 0 $pad-md;

    @include mq($md) {
        font-size: $font-sm;
        padding: $pad-md 0 $section-pad;
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            margin-right: $gutter;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__wrap {
        flex: 1;

        @include mq($md) {
            display: flex;
            align-items: center;

            > * {
                margin-right: $gutter;
            }
        }
    }

    &__logo {
        display: block;
        margin: $pad-md auto 0;
        width: 8rem;

        @include mq($md) {
            width: 8rem;
        }
    }
}

.more {
    &__first {
        display: inline;

        @include mq($lg) {
            display: block;
            margin-bottom: 0;
        }
    }

    &__expand {
        display: inline-block;
        cursor: pointer;
        font-family: $header-font;
        margin-left: 0.33em;

        @include mq($lg) {
            display: none;
        }

        .plus {
            font-size: 1.25em;
            line-height: 1;
        }
    }

    &.open .more__expand {
        opacity: 0;
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        transition: max-height $transition-long ease;

        p:first-child {
            margin-top: 1.5em;
        }
    }
}


.dots {
    span {
        height: 0.85rem;
        width: 0.85rem;
        border: 1px solid $white;
        display: inline-block;
        border-radius: 1rem;
        margin-left: 1.1rem;
        transition: background $transition-long 0.4s;

        &.true {
            background: $white;
        }

        &:first-child {
            margin-left: 0;
        }

        @include mq($md) {
            height: 1rem;
            width: 1rem;
            margin-left: 1.25rem;
            border-width: 2px
        }
    }
}



// swiper plugin overrides 

.swiper-container {
    .next, .prev {
        display: block;
        width: 2.75rem;
        position: absolute;
        bottom: $pad-sm;
        padding: 1rem;
        text-align: center;
        z-index: 40;
        cursor: pointer;
        outline: none;
        opacity: 0.6;

        @include mq($md) {
            width: 4rem;
            top: 50%;
            margin-top: -1.75rem;
        }

        &:hover, &:focus {
            opacity: 1;
        }
    }

    .prev {
        left: 1rem;
        padding-left: 0.5rem;

        @include mq($md) {
            left: 0;
            padding-left: 1.5rem;
        }
    }

    .next {
        right: 1rem;
        padding-right: 0.5rem;

        @include mq($md) {
            right: 0;
            padding-right: 1.5rem;
        }
    }

    .swiper-pagination-bullets {
        bottom: $pad-md;
    }

    .swiper-pagination-bullet {
        background: $grey;
        opacity: 0.3;
        height: 0.7rem;
        width: 0.7rem;
        margin: 0 0.25rem;

        &-active, &:hover {
            background: $light-cyan;
            transition: $transition-short;
            opacity: 1;
        }
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 100%;
}

button {
    outline: none;
}

figure.video {
    @include video;
}


.general {
    section > .wrapper {
        > * {
            max-width: $p-center-max;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        > figure {
            max-width: $max-width;
            margin: $section-pad-mobile #{-$page-margin-sm};
            text-align: center;

            @include mq($md) {
                margin: $section-pad 0;
            }

            > ul {
                text-align: center;

                @include mq($md) {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: -#{$section-pad - 3rem};
                }

                li {
                    list-style: none;
                    margin: 0 $page-margin-sm $gutter;

                    @include mq($md) {
                        margin-left: $gutter/2;
                        margin-right: $gutter/2;
                    }
                }
            }
        }

        .columns {
            max-width: $max-width;
            margin: $section-pad-mobile 0;

            @include mq($md) {
                display: flex;
                margin: $section-pad 0;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &__col {
                margin-bottom: $pad-sm;

                @include mq($md) {
                    margin-bottom: 0;
                    flex: 1;

                    &:first-child {
                        margin-right: $gutter;
                    }
                }
            }
        }

        .downloads, .links {
            max-width: $max-width;

            &:last-child {
                @include mq($md) {
                    margin-bottom: -4rem;
                }
            }
        }

        .links {
            &:last-child {
                @include mq($md) {
                    margin-bottom: -1.5rem;
                }
            }
        }
    }

    .downloads, .links {
        border-top: $border;
        padding-top: $pad-md;
        margin-bottom: $pad-md;

        &:first-child {
            border-top: 0;
            padding-top: 0;
        }

        > p {
            max-width: $p-center-max;
            font-size: $font-md;
        }

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .links {

    }
}