///////////////////////////////
//
//  home
//
///////////////////////////////


.intro {
    background: $light-cyan;
}

.petition-embed {
    padding-top: $pad-sm;
    background: $light-cyan;

    @include mq($md) {
        padding-top: $pad-md;

        > .wrapper {
            max-width: $p-center-max;
        }
    }

    @include mq($lg) {
        padding-top: $section-pad;

        > .wrapper {
            display: flex;
            max-width: $max-width;

            > div {
                flex: 1;

                &:first-child {
                    margin-right: $gutter;
                }
            }
        }
    }

    &__statement {
        margin-bottom: $pad-sm;
    }
}

// petition overrides 

.can_embed.v3 {
    #can_embed_form {
        padding: 0 !important;
        border: none !important;
        background: transparent !important;
        font-family: $body-font !important;

        h1 {
            font-family: $header-font !important;
        }

        h2, h3, h4, #form-comments, label[for=form-comments] {
            display: none !important;
        }

        #form_col1, #form_col2 {
            float: none !important;
            width: auto !important;
        }

        input, textarea, select {
            font-family: $body-font !important;
            font-size: $base-sm !important;
            border-top: none !important;
            border-left: none !important;
            border-bottom: 0.25em solid $cyan !important;
            border-right: 0.25em solid $cyan !important;

            @include mq($md) {
                font-size: $base !important;
                border-bottom: 0.2em solid $cyan !important;
                border-right: 0.2em solid $cyan !important;
            }
        }

        #action_welcome_message #action_welcome_message_inner {
            background: $light-yellow !important;
        }

        #form_col1 {
            .form_builder_output + .core_field, .form_builder_output + .core_field + .core_field {
                display: inline-block;
                width: 48% !important;
                margin-right: 4% !important;
            }

            .form_builder_output + .core_field + .core_field {
                margin-left: -0.275em !important;
                margin-right: 0 !important;
            }
        }

        .international_link-wrap {
            display: none !important;
        }

        .control-label {
            display: none !important;

            @include mq($md) {
                display: block !important;
            }
        }

        #Would-you-like-to-tell-us-more {
            margin-bottom: 0.66em !important;
        }

        input[type=submit] {
            @include button-lg-override;
        }

        #can_thank_you {
            background: none !important;
            color: $text !important;
            font-size: 1rem !important;
        }

        .can_thank_you-block {
            .widget_title {
                display: block !important;
                @include heading-sm;
                font-family: $header-font !important;
                font-size: 1rem !important;
            }

            &:last-child {
                display: none;
            }

            strong {
                font-family: $header-font !important;
            }

            .share_button {
                @include button-lg-override;
            }
        }
    }

    #can_embed_form_inner * {
        font-family: $body-font !important;
    }

    #action_info, #logo_wrap {
        display: none;
    }

    #d_sharing label {
        @include mq($md) {
            font-size: 0.675rem !important;
        }
    }
}


.facts {
    .swiper-wrapper {
        padding: $section-pad-mobile 0 #{$section-pad-mobile + $pad-md};

        @include mq($md) {
            padding: $section-pad 0 #{$section-pad-mobile + $pad-lg};
        }
    }

    .swiper-slide {
        text-align: center;

        > .wrapper {
            padding: 0 4rem;

            @include mq($md) {
                padding: 0 6rem;
            }

            @include mq($lg) {
                display: flex;
                align-items: center;
            }
        }

        @include mq($md) {
            &:nth-child(odd) {
                h2 {
                    transform: rotate(4deg);
                }
            }
        }

        @include mq($lg) {
            &:nth-child(odd) {
                > .wrapper {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .icon {
        height: 8rem;
        width: 8rem;
        margin-bottom: $pad-sm;

        @include mq($lg) {

        }
    }
}


.members {

    &--logos {
        background: $white;

        > .wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }

        img {
            max-width: 10em;
            margin: 0 $pad-sm;
        }

        h3 {
            width: 100%;
        }
    }

    &--names {
        p {
            columns: 3 #{$p-center-max/3};
            column-gap: $gutter;
            font-size: $font-sm;
        }

        h3 {
            margin-bottom: $pad-md;
        }
    }
}


.downloads {
    text-align: center;

    p {
        font-size: $font-md;
    }

    .button:first-of-type {
        margin-right: $gutter;
    }
}
