///////////////////////////////
//
//  home
//
///////////////////////////////


.top {
    padding-top: 0;
    border-top: 0.3rem solid $red;
    @include dark-bg;

    .menu-open {
        display: none;

        @include mq($md) {
            display: block;
            position: absolute;
            top: $gutter;
            right: $page-margin-sm;
        }

        @include mq(#{$lg + 150px}) {
            right: $page-margin;
        }
    }

    &__header {
        background: $white;
        color: $header-bg;
        position: relative;
        margin: 0 #{-$page-margin-sm} $gutter;
        padding: $page-margin-sm;
        padding-left: #{4.5rem + $page-margin-sm*2};

        @include mq($md) {
            padding: $gutter;
            padding-right: $gutter*0.75;
            padding-left: 0;
            margin-left: 0;
            margin-right: $page-margin-sm;
        }

        @include mq($md + 125px) {
            margin-right: 0;
        }

        > * {
            position: relative;
        }

        &:before {
            @include mq($md) {
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                background: $white;
                height: 100%;
                width: 100vw;
            }
            
            @include mq($lg) {
                right: 0;
                width: 50vw;
            }
        }

        h1, h2, h3, h4, h5, h6, strong {
            color: $header-bg;
        }

        h1 {
        font-size: 1.875rem;

            @include mq($md) {
                font-size: 2rem;
            }
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: $page-margin-sm;
        width: 4.5rem;
        cursor: pointer;

        @include mq($md) {
            width: 5.5rem;
            left: -7rem;
        }
    }

    > .wrapper {
        @include mq($lg) {
            display: flex;
        }
    }

    &__col {
        @include mq($md) {
            max-width: $p-center-max;
            margin: 0 auto;
            padding-left: 6.5rem;
        }

        @include mq($lg) {
            flex: 1;
            padding-left: 0;

            &:first-child {
                margin-right: $gutter;
            }
        }
    }

    &__title {
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 0.33em;
    }

    &__dek {
        font-size: $font-md;
        line-height: $leading-tight;
    }

    .more {
        &__expand {
            color: $link;
            opacity: 1;
        }

        &__text {
            @include mq($lg) {
                max-height: none !important;
            }
        }
    }
}

.petition {

    &__statement {
        margin-bottom: $pad-sm;

        a {
            @include link-dark-bg;
        }

        @include mq($md) {
            margin-bottom: 0;
        }
    }

    &__embed {
        @include mq($md) {
            margin-top: $gutter;
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .5px;
        color: $light-cyan;
        opacity: 0.7;
        margin-bottom: 0.66em;
    }
}

// petition overrides 

.can_embed.v3 {
    #can_embed_form {
        padding: 0 !important;
        border: none !important;
        background: transparent !important;
        font-family: $body-font !important;

        h1 {
            font-family: $header-font !important;
        }

        h2, h3, h4, #form-comments, label[for=form-comments] {
            display: none !important;
        }

        #form_col1, #form_col2 {
            float: none !important;
            width: auto !important;
        }

        input, textarea, select {
            font-family: $body-font !important;
            font-size: $base-sm !important;
            border: none !important;

            @include mq($md) {
                font-size: $base !important;
            }
        }

        #action_welcome_message #action_welcome_message_inner {
            background: rgba($grey, 0.4) !important;
            color: $white !important;

            *:not(a) {
                color: $white !important;
            }
        }

        .floatlabel-wrapper .floatlabel-label-active {
            color: $light-cyan !important;
            opacity: 0.7 !important;
            top: -1.66em !important;
            left: 0 !important;
            padding: 0 !important;

            &:after {
                content: none !important;
            }
        }

        #form_col1 {
            .form_builder_output + .core_field, .form_builder_output + .core_field + .core_field {
                display: inline-block;
                width: 48% !important;
                margin-right: 4% !important;
            }

            .form_builder_output + .core_field + .core_field {
                margin-left: -0.275em !important;
                margin-right: 0 !important;
            }

            .core_field {
                margin-top: 0.5em !important;
            }
        }

        .international_link-wrap {
            display: none !important;
        }

        .control-label {
            color: $light-cyan !important;
            opacity: 0.7 !important;
            margin-bottom: 0.66em !important;
        }

        .check_radio_field {
            columns: 2 $xs/2;

            label {
                color: $white !important;
            }
        }

        #Would-you-like-to-tell-us-more {
            margin-bottom: 0.66em !important;
        }

        input[type=submit] {
            @include button-lg-override;
        }



        // thank you

        #can_thank_you {
            background: none !important;
            color: $white !important;
            font-size: 1rem !important;
            margin: 0 !important;
            margin-top: $pad-sm !important;
            padding: 0 !important;

            h1 {
                color: $light-yellow;
                font-size: $font-md;
                font-family: $body-font !important;
                font-weight: bold;
                text-align: left;
            }
        }

        .can_thank_you-block {
            .widget_title {
                display: block !important;
                @include heading-sm;
                color: $light-yellow !important;
                font-family: $header-font !important;
                font-size: 1rem !important;
            }

            &:last-child {
                display: none;
            }

            strong {
                font-family: $header-font !important;
            }

            .share_button {
                font-family: $header-font !important;
                font-size: 1.5rem !important;
                letter-spacing: 0.05em !important;
                border-radius: 0.25em !important;
                padding: 0.66em !important;
                line-height: normal !important;
                transition: $transition-short !important;
                appearance: none;
            }

            &:first-child>label.graytext {
                color: $light-cyan !important;
                top: 0 !important;
                left: 0 !important;

                &:after {
                    content: none !important;
                }
            }
        }

        .mb20 {
            margin-bottom: $pad-md !important;
        }

        #d_sharing {
            border-top: none !important;
            
            label {
                color: $grey !important;

                @include mq($md) {
                    font-size: 0.675rem !important;
                }
            }
        }

        #petition-email_friend_message {
            height: 10rem !important;
        }
    }

    #can_embed_form_inner * {
        font-family: $body-font !important;
        // color: $white !important;

        a {
            color: $light-cyan !important;
            opacity: 0.7 !important;

            &:hover, &:focus {
                opacity: 1 !important;
            }
        }
    }

    #action_info, #logo_wrap {
        display: none;
    }
}


.interimg {
    background: $grey;
    padding: 0;

    img {
        display: block;
        margin: 0 auto;
    }

    > .wrapper {
        padding: 0;
    }
}


.facts {
    background: $navy;
    color: $white;

    &__pre {
        max-width: $p-center-max;
        font-size: $font-md;
        text-align: center;
        margin: $pad-lg auto 0;
        padding: 0 $page-margin-sm;

        @include mq($md) {
            padding: 0 $page-margin;
        }

        span:focus {
            outline: none;
        }
    }

    .swiper-wrapper {
        padding: $section-pad-mobile 0 #{$section-pad-mobile + $pad-lg};

        @include mq($md) {
            padding: $section-pad 0 #{$section-pad-mobile + $pad-lg + $pad-sm};
        }
    }

    .swiper-slide {
        text-align: center;

        > .wrapper {
            @include mq($md) {
                padding: 0 6rem;
            }

            @include mq($lg) {
                display: flex;
                align-items: center;

                flex-direction: row-reverse;

                > *:first-child {
                    // margin-right: $gutter;

                    margin-left: $gutter;
                }
            }
        }

        // @include mq($lg) {
        //     &:nth-child(odd) {
        //         > .wrapper {
        //             flex-direction: row-reverse;

        //             > *:first-child {
        //                 margin-left: $gutter;
        //                 margin-right: 0;
        //             }
        //         }
        //     }
        // }
    }

    &__image {
        flex: 2;
        margin-bottom: $pad-sm;

        @include mq($lg) {
            margin-bottom: 0;
        }
    }

    &__text {
        flex: 1;
        text-align: left;
        font-size: $font-md;

        h2 {
            color: $yellow;
            @extend %sm-caps;
        }
    }

    .icon {
        height: 8rem;
        width: 8rem;
        margin-bottom: $pad-sm;

        @include mq($lg) {
            height: 15rem;
            width: 15rem;
        }
    }
}


.members {

    h3 {
        @include heading-sm;
        text-align: center;
        margin-bottom: $pad-md;
    }

    &--logos {
        background: $light-cyan;

        @include mq($md) {
            padding-bottom: #{$section-pad - 3rem};
        }

        > .wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }

        img {
            max-width: 6em;
            margin: 0 2rem 3rem;

            @include mq($md) {
                max-width: 10em;
            }
        }

        h3 {
            width: 100%;
        }
    }

    &--names {

        li {
            @include list-reset;
        }

        .more {
            position: relative;
            margin-bottom: $pad-md;

            &__first {
                display: block;
            }

            &__text {
                max-height: none;
                display: none;

                p:first-child {
                    margin-top: 0;
                }
            }

            &__expand {
                text-align: center;
                display: block;
                position: absolute;
                width: 100%;
                bottom: -#{$pad-md - 0.5rem};
                margin-left: 0;
            }

            &.open {
                margin-bottom: 0;

                .more__expand {
                    display: none;
                }
            }
        }
    }

    &__names > div {
        columns: 3 #{$p-center-max/3};
        column-gap: $gutter;
        font-size: $font-sm;

        li {
            text-indent: -1rem;
            padding-left: 1rem;
        }
    }
}


.downloads, .links {
    text-align: center;

    > .wrapper {
        max-width: $p-center-max;
        font-size: $font-md;
    }

    ul {
        margin-top: $pad-md;
    }

    li {
        @include list-reset;
        margin-bottom: $pad-lg;
        display: block;

        @include mq($md) {
            display: inline-block;
            margin-right: $gutter;

            &:last-child {
                margin-right: 0;
                margin-bottom: $pad-lg;
            }
        }

        img {
            display: block;
            margin: 0 auto 1rem;
            max-width: 8rem;
        }
    }
}

.links {
    li {
        margin-bottom: $pad-sm;

        &:last-child {
            margin-bottom: $pad-sm;
        }
    }
}

.home {
    .downloads, .links {
        background: linear-gradient($bg-yellow, $white) no-repeat;
        border-top: $border;
        background-size: 100% #{$section-pad*4};

        @include mq($md) {
            padding-bottom: $pad-sm;
        }
    }
}
