/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("//hello.myfonts.net/count/3ce12d");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page
html {overflow-y: scroll;} */
/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

main {
  display: block;
}

h3, .button, input[type=submit], .can_embed.v3 #can_embed_form .can_thank_you-block .widget_title, .facts__text h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: 'PantonNarrow-Heavy';
  src: url("../fonts/PantonNarrow-Heavy/font.woff2") format("woff2"), url("../fonts/PantonNarrow-Heavy/font.woff") format("woff");
  font-weight: 700;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */

::selection {
  background: #231F20;
  color: #fff;
  text-shadow: none;
}

ins {
  background-color: #231F20;
  color: #fff;
  text-decoration: none;
}

mark {
  background-color: #231F20;
  color: #fff;
  font-style: italic;
}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder {
  color: #9CA0A4;
}

textarea:-moz-placeholder {
  color: #9CA0A4;
}

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {
  padding: 1em;
  background: #eee;
}

html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #fff;
}

html, body {
  height: 100%;
}

body, select, input, textarea, button {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  color: #231F20;
}

section {
  padding: 3.5rem 0;
}
@media (min-width: 768px) {
  section {
    padding: 5rem 0;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1025px;
  padding: 0 1.25rem;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 3.15rem;
  }
}

a {
  color: #ff3333;
  text-decoration: none;
  transition: 0.15s;
}
a:hover {
  color: #d61f1f;
}

h1, h2 {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.1;
  border: 0;
  padding-bottom: 0;
  margin: 0 auto 1.25rem;
  max-width: 44rem;
  text-align: center;
  color: #0d1b3f;
  letter-spacing: 0.025em;
}
@media (min-width: 768px) {
  h1, h2 {
    font-size: 2rem;
  }
}
h1:last-child, h2:last-child {
  margin-bottom: 0;
}

h3 {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0d1b3f;
  text-align: center;
  margin-bottom: 1em;
}

p, ul, ol {
  margin-bottom: 1.5em;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}
p strong, ul strong, ol strong {
  color: #0d1b3f;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.button, input[type=submit] {
  display: inline-block;
  vertical-align: middle;
  padding: 0.66em 1.5em;
  border: 0;
  border-radius: 0.33rem;
  font-size: 1rem;
  color: #fff;
  background: #ff3333;
  text-decoration: none;
  text-align: center;
  transition: 0.15s;
  cursor: pointer;
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-appearance: none;
          appearance: none;
}
.button:hover, .button:focus, .button-wrap:hover .button, .button-wrap:hover .button, input[type=submit]:hover, input[type=submit]:focus, .button-wrap:hover input[type=submit], .button-wrap:hover input[type=submit] {
  background: #d61f1f;
  color: #fff;
}
.button .icon, input[type=submit] .icon {
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
  margin: 0;
}
.button.btn-inactive, input[type=submit].btn-inactive {
  opacity: 0.5;
}
.button.btn-inactive:hover, .button.btn-inactive:focus, input[type=submit].btn-inactive:hover, input[type=submit].btn-inactive:focus {
  background: #ff3333;
}

input[type=text], input[type=email], input[type=number], input[type=tel], textarea {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0.5em 0.75em;
  transition: 0.15s;
  border: 1px solid #d1d3d5;
}

.field {
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  .field {
    display: -ms-flexbox;
    display: flex;
  }
}
.field label {
  display: inline-block;
  margin-bottom: 0.25em;
}
@media (min-width: 768px) {
  .field label {
    -ms-flex: 1;
        flex: 1;
  }
}
@media (min-width: 768px) {
  .field input[type=text], .field input[type=email], .field input[type=number], .field input[type=tel], .field textarea {
    -ms-flex: 3;
        flex: 3;
  }
}

.header {
  padding: 1.5rem 0;
  background: #0d1b3f;
  color: #fff;
}
.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
  color: #fff;
}
.header a {
  color: #d6ffff;
  opacity: 0.7;
}
.header a:hover, .header a:focus {
  opacity: 1;
}
.header a[aria-current=page] {
  opacity: 1;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .header > .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
}
.header__logo {
  display: block;
  margin: 0 auto;
  width: 6rem;
}
@media (min-width: 768px) {
  .header__logo {
    width: 8rem;
    margin: 0;
    margin-right: 2rem;
  }
}
.header a.header__logo {
  opacity: 1;
}
.header a.header__logo:hover, .header a.header__logo:focus {
  opacity: 0.7;
}
.header h1 {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .header h1 {
    margin: 0;
    text-align: left;
  }
}
.header .menu-open, .header .menu-close {
  display: block;
  width: 1.75rem;
  cursor: pointer;
}
.header .menu-open img, .header .menu-close img {
  display: block;
}
.header .menu-close {
  position: absolute;
  top: 1.33rem;
  width: 2.75rem;
  padding: 0.5rem;
  right: 1rem;
}
@media (min-width: 768px) {
  .header .menu-close {
    width: 2.33rem;
    top: 1rem;
    right: 3rem;
  }
}
.header .menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #231F20;
  padding: 5rem 3rem 2rem;
  transform: translate(100%, 0);
  transition: 0.75s ease-in-out;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media (min-width: 768px) {
  .header .menu {
    max-width: 23.25rem;
  }
}
.header .menu.open {
  transform: translate(0, 0);
}
.header .menu.open li {
  transition: 0.5s ease-in;
}
.header .menu.open li:nth-child(n) {
  transform: translate(0, 0);
}
.header .menu ul {
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  .header .menu ul {
    font-size: 2rem;
    line-height: 1.3;
  }
}
.header .menu li {
  margin-bottom: 0.5rem;
  transition: 0s ease-in 0.75s;
  transform: translate(20%, 0);
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #0d1b3f;
  color: #fff;
  padding: 1.5rem 0 3rem;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
  color: #fff;
}
.footer a {
  color: #d6ffff;
  opacity: 0.7;
}
.footer a:hover, .footer a:focus {
  opacity: 1;
}
.footer a[aria-current=page] {
  opacity: 1;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
    padding: 3rem 0 5rem;
  }
}
.footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.footer ul li {
  margin-right: 2rem;
}
.footer ul li:last-child {
  margin-right: 0;
}
.footer__wrap {
  -ms-flex: 1;
      flex: 1;
}
@media (min-width: 768px) {
  .footer__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .footer__wrap > * {
    margin-right: 2rem;
  }
}
.footer__logo {
  display: block;
  margin: 3rem auto 0;
  width: 6rem;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 8rem;
  }
}

.more__first {
  display: inline;
}
@media (min-width: 1025px) {
  .more__first {
    display: block;
    margin-bottom: 0;
  }
}
.more__expand {
  display: inline-block;
  cursor: pointer;
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0.33em;
}
@media (min-width: 1025px) {
  .more__expand {
    display: none;
  }
}
.more__expand .plus {
  font-size: 1.25em;
  line-height: 1;
}
.more.open .more__expand {
  opacity: 0;
}
.more__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.more__text p:first-child {
  margin-top: 1.5em;
}

.dots span {
  height: 0.85rem;
  width: 0.85rem;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 1rem;
  margin-left: 1.1rem;
  transition: background 0.5s 0.4s;
}
.dots span.true {
  background: #fff;
}
.dots span:first-child {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dots span {
    height: 1rem;
    width: 1rem;
    margin-left: 1.25rem;
    border-width: 2px;
  }
}

.swiper-container .next, .swiper-container .prev {
  display: block;
  width: 2.75rem;
  position: absolute;
  bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
  z-index: 40;
  cursor: pointer;
  outline: none;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .swiper-container .next, .swiper-container .prev {
    width: 4rem;
    top: 50%;
    margin-top: -1.75rem;
  }
}
.swiper-container .next:hover, .swiper-container .next:focus, .swiper-container .prev:hover, .swiper-container .prev:focus {
  opacity: 1;
}
.swiper-container .prev {
  left: 1rem;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  .swiper-container .prev {
    left: 0;
    padding-left: 1.5rem;
  }
}
.swiper-container .next {
  right: 1rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .swiper-container .next {
    right: 0;
    padding-right: 1.5rem;
  }
}
.swiper-container .swiper-pagination-bullets {
  bottom: 3rem;
}
.swiper-container .swiper-pagination-bullet {
  background: #9CA0A4;
  opacity: 0.3;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 0.25rem;
}
.swiper-container .swiper-pagination-bullet-active, .swiper-container .swiper-pagination-bullet:hover {
  background: #d6ffff;
  transition: 0.15s;
  opacity: 1;
}

.swiper-wrapper {
  -ms-flex-align: center;
      align-items: center;
}

.swiper-slide {
  width: 100%;
}

button {
  outline: none;
}

.top {
  background: #0d1b3f;
  color: #fff;
  padding-top: 0;
  border-top: 0.3rem solid #ff3333;
}
.top__header {
  background: #fff;
  color: #231F20;
  position: relative;
  margin: 0 -1.25rem 2rem;
  padding: 1.25rem;
  padding-left: 7rem;
}
@media (min-width: 768px) {
  .top__header {
    padding: 2rem;
    padding-right: 1.5rem;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.top__header > * {
  position: relative;
}
@media (min-width: 768px) {
  .top__header:before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: #fff;
    height: 100%;
    width: 100vw;
  }
}
@media (min-width: 1025px) {
  .top__header:before {
    right: 0;
    width: 50vw;
  }
}
.top__logo {
  position: absolute;
  top: 0;
  left: 1.25rem;
  width: 4.5rem;
}
@media (min-width: 768px) {
  .top__logo {
    width: 5.5rem;
    left: -7rem;
  }
}
@media (min-width: 1025px) {
  .top > .wrapper {
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .top__col {
    max-width: 44rem;
    margin: 0 auto;
    padding-left: 6.5rem;
  }
}
@media (min-width: 1025px) {
  .top__col {
    -ms-flex: 1;
        flex: 1;
    padding-left: 0;
  }
  .top__col:first-child {
    margin-right: 2rem;
  }
}
.top__title {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.33em;
}
.top__dek {
  font-size: 1.15rem;
  line-height: 1.3;
}
.top .more__expand {
  color: #ff3333;
  opacity: 1;
}
@media (min-width: 1025px) {
  .top .more__text {
    max-height: none !important;
  }
}

.petition__statement {
  margin-bottom: 1.5rem;
}
.petition__statement a {
  color: #d6ffff;
  opacity: 0.7;
}
.petition__statement a:hover, .petition__statement a:focus {
  opacity: 1;
}
.petition__statement a[aria-current=page] {
  opacity: 1;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .petition__embed {
    margin-top: 2rem;
  }
}
.petition__label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
  color: #d6ffff;
  opacity: 0.7;
  margin-bottom: 0.66em;
}

.can_embed.v3 #can_embed_form {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif !important;
}
.can_embed.v3 #can_embed_form h1 {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif !important;
}
.can_embed.v3 #can_embed_form h2, .can_embed.v3 #can_embed_form h3, .can_embed.v3 #can_embed_form h4, .can_embed.v3 #can_embed_form #form-comments, .can_embed.v3 #can_embed_form label[for=form-comments] {
  display: none !important;
}
.can_embed.v3 #can_embed_form #form_col1, .can_embed.v3 #can_embed_form #form_col2 {
  float: none !important;
  width: auto !important;
}
.can_embed.v3 #can_embed_form input, .can_embed.v3 #can_embed_form textarea, .can_embed.v3 #can_embed_form select {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 15px !important;
  border: none !important;
}
@media (min-width: 768px) {
  .can_embed.v3 #can_embed_form input, .can_embed.v3 #can_embed_form textarea, .can_embed.v3 #can_embed_form select {
    font-size: 17px !important;
  }
}
.can_embed.v3 #can_embed_form #action_welcome_message #action_welcome_message_inner {
  background: rgba(156, 160, 164, 0.4) !important;
  color: #fff !important;
}
.can_embed.v3 #can_embed_form .floatlabel-wrapper .floatlabel-label-active {
  color: #d6ffff !important;
  opacity: 0.7 !important;
  top: -1.66em !important;
  left: 0 !important;
  padding: 0 !important;
}
.can_embed.v3 #can_embed_form .floatlabel-wrapper .floatlabel-label-active:after {
  content: none !important;
}
.can_embed.v3 #can_embed_form #form_col1 .form_builder_output + .core_field, .can_embed.v3 #can_embed_form #form_col1 .form_builder_output + .core_field + .core_field {
  display: inline-block;
  width: 48% !important;
  margin-right: 4% !important;
}
.can_embed.v3 #can_embed_form #form_col1 .form_builder_output + .core_field + .core_field {
  margin-left: -0.275em !important;
  margin-right: 0 !important;
}
.can_embed.v3 #can_embed_form #form_col1 .core_field {
  margin-top: 0.5em !important;
}
.can_embed.v3 #can_embed_form .international_link-wrap {
  display: none !important;
}
.can_embed.v3 #can_embed_form .control-label {
  color: #d6ffff !important;
  opacity: 0.7 !important;
  margin-bottom: 0.66em !important;
}
.can_embed.v3 #can_embed_form .check_radio_field {
  columns: 2 180px;
}
.can_embed.v3 #can_embed_form .check_radio_field label {
  color: #fff !important;
}
.can_embed.v3 #can_embed_form #Would-you-like-to-tell-us-more {
  margin-bottom: 0.66em !important;
}
.can_embed.v3 #can_embed_form input[type=submit] {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
  border-radius: 0.25em !important;
  padding: 0.66em !important;
  line-height: normal !important;
  transition: 0.15s !important;
  background-color: #ff3333 !important;
  -webkit-appearance: none;
          appearance: none;
}
@media (min-width: 768px) {
  .can_embed.v3 #can_embed_form input[type=submit] {
    font-size: 1.875rem !important;
  }
}
.can_embed.v3 #can_embed_form input[type=submit]:hover, .can_embed.v3 #can_embed_form input[type=submit]:focus {
  background: #d61f1f !important;
}
.can_embed.v3 #can_embed_form #can_thank_you {
  background: none !important;
  color: #fff !important;
  font-size: 1rem !important;
  margin: 0 !important;
  margin-top: 1.5rem !important;
  padding: 0 !important;
}
.can_embed.v3 #can_embed_form #can_thank_you h1 {
  color: #ffff99;
  font-size: 1.15rem;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: bold;
  text-align: left;
}
.can_embed.v3 #can_embed_form .can_thank_you-block .widget_title {
  display: block !important;
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0d1b3f;
  text-align: center;
  margin-bottom: 1em;
  color: #ffff99 !important;
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1rem !important;
}
.can_embed.v3 #can_embed_form .can_thank_you-block:last-child {
  display: none;
}
.can_embed.v3 #can_embed_form .can_thank_you-block strong {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif !important;
}
.can_embed.v3 #can_embed_form .can_thank_you-block .share_button {
  font-family: PantonNarrow-Heavy, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
  border-radius: 0.25em !important;
  padding: 0.66em !important;
  line-height: normal !important;
  transition: 0.15s !important;
  -webkit-appearance: none;
          appearance: none;
}
.can_embed.v3 #can_embed_form .can_thank_you-block:first-child > label.graytext {
  color: #d6ffff !important;
  top: 0 !important;
  left: 0 !important;
}
.can_embed.v3 #can_embed_form .can_thank_you-block:first-child > label.graytext:after {
  content: none !important;
}
.can_embed.v3 #can_embed_form .mb20 {
  margin-bottom: 3rem !important;
}
.can_embed.v3 #can_embed_form #d_sharing {
  border-top: none !important;
}
.can_embed.v3 #can_embed_form #d_sharing label {
  color: #9CA0A4 !important;
}
@media (min-width: 768px) {
  .can_embed.v3 #can_embed_form #d_sharing label {
    font-size: 0.675rem !important;
  }
}
.can_embed.v3 #can_embed_form #petition-email_friend_message {
  height: 10rem !important;
}
.can_embed.v3 #can_embed_form_inner * {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif !important;
}
.can_embed.v3 #can_embed_form_inner * a {
  color: #d6ffff !important;
  opacity: 0.7 !important;
}
.can_embed.v3 #can_embed_form_inner * a:hover, .can_embed.v3 #can_embed_form_inner * a:focus {
  opacity: 1 !important;
}
.can_embed.v3 #action_info, .can_embed.v3 #logo_wrap {
  display: none;
}

.interimg {
  background: #9CA0A4;
  padding: 0;
}
.interimg img {
  display: block;
  margin: 0 auto;
}
.interimg > .wrapper {
  padding: 0;
}

.facts {
  background: #0d1b3f;
  color: #fff;
}
.facts__pre {
  max-width: 44rem;
  font-size: 1.15rem;
  text-align: center;
  margin: 4rem auto 0;
}
.facts .swiper-wrapper {
  padding: 3.5rem 0 7.5rem;
}
@media (min-width: 768px) {
  .facts .swiper-wrapper {
    padding: 5rem 0 9rem;
  }
}
.facts .swiper-slide {
  text-align: center;
}
@media (min-width: 768px) {
  .facts .swiper-slide > .wrapper {
    padding: 0 6rem;
  }
}
@media (min-width: 1025px) {
  .facts .swiper-slide > .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .facts .swiper-slide > .wrapper > *:first-child {
    margin-right: 2rem;
  }
}
@media (min-width: 1025px) {
  .facts .swiper-slide:nth-child(odd) > .wrapper {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  .facts .swiper-slide:nth-child(odd) > .wrapper > *:first-child {
    margin-left: 2rem;
    margin-right: 0;
  }
}
.facts__image {
  -ms-flex: 2;
      flex: 2;
  margin-bottom: 1.5rem;
}
@media (min-width: 1025px) {
  .facts__image {
    margin-bottom: 0;
  }
}
.facts__text {
  -ms-flex: 1;
      flex: 1;
  text-align: left;
  font-size: 1.15rem;
}
.facts__text h2 {
  color: #ffff66;
  text-align: left;
}
.facts .icon {
  height: 8rem;
  width: 8rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1025px) {
  .facts .icon {
    height: 15rem;
    width: 15rem;
  }
}

.members h3 {
  margin-bottom: 3rem;
}
.members--logos {
  background: #d6ffff;
}
.members--logos > .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.members--logos img {
  max-width: 6em;
  margin: 0 2rem 2rem;
}
@media (min-width: 768px) {
  .members--logos img {
    max-width: 10em;
  }
}
.members--logos h3 {
  width: 100%;
}
.members--names .more {
  position: relative;
  margin-bottom: 3rem;
}
.members--names .more__first {
  display: block;
}
.members--names .more__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.members--names .more__text p:first-child {
  margin-top: 0;
}
.members--names .more__expand {
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
}
.members__names > div {
  columns: 3 14.6666666667rem;
  column-gap: 2rem;
  font-size: 0.875rem;
}
.members__names > div li {
  text-indent: -1rem;
  padding-left: 1rem;
}

.downloads {
  text-align: center;
  background: linear-gradient(#fafad1, #fff) no-repeat;
  border-top: 1px solid #d1d3d5;
  background-size: 100% 20rem;
}
@media (min-width: 768px) {
  .downloads {
    padding-bottom: 1.5rem;
  }
}
.downloads > .wrapper {
  max-width: 44rem;
  font-size: 1.15rem;
}
.downloads ul {
  margin-top: 3rem;
}
.downloads li {
  margin-bottom: 4rem;
  display: block;
}
@media (min-width: 768px) {
  .downloads li {
    display: inline-block;
    margin-right: 2rem;
  }
  .downloads li:last-child {
    margin-right: 0;
  }
}
.downloads li img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 8rem;
}

.very-real-field {
  position: absolute;
  left: -9999px;
}

.contact form {
  max-width: 44rem;
}

/*# sourceMappingURL=main.css.map */